In [1]:
# source:
#
# http://www.randalolson.com/2016/05/08/tpot-a-python-tool-for-automating-data-science/
#
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.cross_validation import cross_val_score

In [2]:
mnist_data = pd.read_csv('https://raw.githubusercontent.com/rhiever/Data-Analysis-and-Machine-Learning-Projects/master/tpot-demo/mnist.csv.gz',
                        sep='\t', compression='gzip')

In [3]:
mnist_data.describe()

,class,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
count,70000.000000,70000.0,70000.0,70000.0,70000.0,70000.0,70000.0,70000.0,70000.0,70000.0,...,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.0,70000.0,70000.0,70000.0
mean,4.452429,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.197414,0.099543,0.046629,0.016614,0.012957,0.001714,0.0,0.0,0.0,0.0
std,2.890195,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.991206,4.256304,2.783732,1.561822,1.553796,0.320889,0.0,0.0,0.0,0.0
min,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
25%,2.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
50%,4.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
75%,7.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0
max,9.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,254.000000,254.000000,253.000000,253.000000,254.000000,62.000000,0.0,0.0,0.0,0.0

In [4]:
mnist_data.sample(1)

,class,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
60310,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
cv_scores = cross_val_score(RandomForestClassifier(n_estimators=10,
                                                   n_jobs=-1),
                            X=mnist_data.drop('class',axis=1).values,
                            y=mnist_data.loc[:, 'class'].values,
                            cv=10)
print(cv_scores)

print(np.mean(cv_scores))

[ 0.93704497  0.95802399  0.94631639  0.94029424  0.94842857  0.94327761
  0.94784224  0.94440474  0.94010863  0.95740423]
0.946314562103

In [6]:
cv_scores = cross_val_score(RandomForestClassifier(n_estimators=100,
                                                   n_jobs=-1),
                            X=mnist_data.drop('class',axis=1).values,
                            y=mnist_data.loc[:, 'class'].values,
                            cv=10)
print(cv_scores)

print(np.mean(cv_scores))

[ 0.96216988  0.97872644  0.96930326  0.96800457  0.96842857  0.96385198
  0.9718491   0.96541375  0.96512293  0.97698685]
0.968985732254